<div id="blockdetails" class="modal" data-bind="visible:target() != null, with:target" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-bind="text:'block ' + BlockNumber">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table style="margin:25px" class="table">
                <tbody>
                    <tr>
                        <td>
                            <p><b>Date:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:Date(Timestamp)"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Difficulty:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:Difficulty"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Hash:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:Hash"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Nonce:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:Nonce"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Previous block:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:PreviousBlock"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Pubkey:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:PubKey" style="word-wrap:break-word; word-break:break-word"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Signature:</b></p>
                        </td>
                        <td>
                            <p data-bind="text:Signature" style="word-wrap:break-word; word-break:break-word"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><b>Transactions:</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table">
                                <tbody data-bind="foreach:Transactions">
                                    <tr>
                                        <td data-bind="component:{name:'TransactionDetails', params:$data}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <p data-bind="text:page()" />
    <table data-bind="foreach:blocks" class="table">
        <tr data-bind="click:function(){$parent.showBlockDetails($data)}">
            <td>
                <p data-bind="text:BlockNumber"></p>
            </td>
            <td>
                <p data-bind="text:Date(Timestamp)"></p>
            </td>
            <td>
                <p data-bind="text:Hash"></p>
            </td>
            <td>
                <p data-bind="text:Transactions.length + ' transactions'"></p>
            </td>
        </tr>
    </table>
    <a data-bind="if:page() > 0, click:goBack">back</a>
    <a data-bind="click:goForward">forward</a>
</div>
