<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" data-bind="click:openWallet" href="#">Wallet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li data-bind="attr:{class:activePage() == 'explorer' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" data-bind="click:openExplorer" href="#">Explorer <span class="sr-only">(current)</span></a>
            </li>
            <li data-bind="attr:{class:activePage() == 'miner' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" data-bind="click:openMiner" href="#">Miner <span class="sr-only">(current)</span></a>
            </li>
            <li data-bind="attr:{class:activePage() == 'swaps' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" data-bind="click:openSwaps" href="#">Swaps <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div data-bind="if: latestBlock() != null" style="margin-right:15px">
            <span class="navbar-text" data-bind=" text: 'max height: ' + latestBlock().BlockNumber" >hoi?</span>
        </div>
        <form class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
