<p>Participating swaps</p>
<table>
    <thead>
        <tr>
            <th>Pubkey</th>
            <th>PasswordHash</th>
        </tr>
    </thead>
    <!-- if swap not initiated by user -->
    <tbody data-bind="foreach:swaps()">
        <tr data-bind="if:utxo.transaction.Pubkey != $parent.key()">
                <td style="margin:5px; border:1px solid black">
                    <p data-bind="text:utxo.transaction.Pubkey"></p>
                </td>
                <td style="margin:5px; border:1px solid black">
                    <p data-bind="text:utxo.output.PasswordHash"></p>
                </td>
                <td>
                    <div>
                        <input type="text" placeholder="Password" data-bind="attr:{id:'releasePassword' + $index()}" />
                        <input type="submit" data-bind="click:function(item, event){$parent.Unlock(item, event, $index())}" />
                    </div>
                </td>
        </tr>
    </tbody>
</table>

<p>Intitated swaps</p>
<table>
    <thead>
    <tbody data-bind="foreach:swaps()">
        <!-- if swap initiated by user -->
        <tr data-bind="if:utxo.transaction.Pubkey == $parent.key()">
            <td>
                <p>me</p>
            </td>
            <td>
                <button data-bind="click:function(item,event){$parent.revertTransaction(item, event, $index());}">Revert</button>
            </td>
        </tr>
    </tbody>
</table>
