<table class="table">
    <tr>
        <td>
            <p><b>Hash:</b></p>
        </td>
        <td>
            <p data-bind="text:Hash"></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Pubkey:</b></p>
        </td>
        <td>
            <p data-bind="text:Pubkey"></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Signature:</b></p>
        </td>
        <td>
            <p data-bind="text:Signature" style="word-wrap:break-word; word-break:break-word"></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Inputs:</b></p>
        </td>
        <td>
            <!-- ko if:Inputs.length > 0 -->
            <table class="table">
                <tbody data-bind="foreach:Inputs">
                    <tr>
                        <td>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><b>Transaction:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:InputQuery.TransactionHash" style="word-wrap:break-word; word-break:break-word"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>Outputnumber:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:InputQuery.OutputNumber"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>Password:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:Password"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- /ko -->
            <!-- ko if:Inputs.length == 0 -->
            <p>None (coinbase)</p>
            <!-- /ko -->
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Outputs:</b></p>
        </td>
        <td>
            <table>
                <tbody data-bind="foreach:Outputs">
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><b>Address:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:Pubkey"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>Amount:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:Amount"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>Passwordhash:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:PasswordHash"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>Locktime:</b></p>
                                        </td>
                                        <td>
                                            <p data-bind="text:RevertTime"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
