<p>
    Your wallet address:<span data-bind="text:loggedInPubkey()"></span>
</p>
<p>
    Your balance:<span data-bind="text:balance()"></span>
</p>
<div>
    <h3>Send coins</h3>
    <input type="text" placeholder="pubkey" id="send_pubkey" />
    <input type="number" placeholder="amount" id="send_amount" />
    <input type="number" placeholder="fees" id="send_fees" />
    <button class="btn" onclick="javascript:sendCoins()">send</button>

    <h3>Initiate swap</h3>
    <input type="text" placeholder="pubkey" id="initiate_pubkey" />
    <input type="number" placeholder="amount" id="initiate_amount" />
    <input type="number" placeholder="fees" id="initiate_fees" />
    <input type="text" placeholder="password (optional)" id="initiate_password" />
    <input type="number" placeholder="revert time (optional)" id="initiate_revert_time" />
    <button class="btn" onclick="javascript:initiateSwap()">send</button>

    <h3>Participate in swap</h3>
    <input type="text" placeholder="pubkey" id="participate_pubkey" />
    <input type="number" placeholder="amount" id="participate_amount" />
    <input type="number" placeholder="fees" id="participate_fees" />
    <input type="text" placeholder="password hash" id="participate_password_hash" />
    <input type="number" placeholder="revert time" id="participate_revert_time" />
    <button class="btn" onclick="javascript:participateSwap()">send</button>

    <div>
        <table>
            <tbody data-bind="foreach:transactions">
                <tr>
                    <td data-bind="component:{name:'TransactionDetails', params:$data}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
